body {
    background-color: rgb(153, 205, 249); 
    background-image: url("../images/supermarket.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;  
 } 
 
 
/*username/password text-field */
#username, #password{
    font-size: 90%;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    border:none;
    opacity: 0.9;
    }

/*username-password div */
.username-password {
    position:relative;
    display:grid;
    max-width: 35%;
    min-width: 250px;
    margin: 0 auto;
    margin-top: 17%; 
    align-items: center;
}


.buttons{
    display: block;
    text-align: center;
    position:relative;
}


#password{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
}

/*text over the username/password text-fields*/
label[for="username"], label[for="password"] {
    -webkit-text-stroke: 1px darkblue;
    font-family: Arial;
    font-weight:bold;
    font-size: 125%;
    color: rgb(127, 210, 210);
}

/*login/signup buttons*/
#login_btn, #signup_btn {
    padding-top: 5px;
    font-family: Arial;
    margin-top: 13px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    background-color: darkblue;
    color:rgb(178, 242, 242);
    border:none;
    transition: background-color 0.5s, color 0.5s;
}

#login_btn{
    margin-right: 15px;
}

/*button hover*/
#login_btn:hover, #signup_btn:hover {
cursor:pointer;
background-color: rgb(178, 242, 242);
color: darkblue;;
}
 
/*text-field placeholders*/
#username::placeholder, 
#password::placeholder{
    opacity: 0.8;
    font-style: italic;
}

#content{
    font-weight: bold;
    margin-left: 15%;
    color: red;
}


