body::before{
    content: "";
    background: url("../images/supermarket.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    opacity: 0.07;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

tr{border-bottom: 2px ridge black;}

/* for laptop/pc/tablet */
@media only screen and (min-width: 768px){

    th,td{
    text-align: center;
    padding: 15px 25px 15px 25px;
    }

    #chUsername, #chPassword, #showLDHistory, #showOfferHistory{
    margin-top: 20px;
    margin-right: 30px;
    padding: 12px 22px 12px 22px;
    border-width: 1px;
    border:none;
    border-radius: 7px;
    background-color: darkblue;
    color: rgb(178, 242, 242);
    }

    #chUsername{margin-left: 22%;}

    #content, #content2{
        display: inline-block;
        max-height: 400px;
        overflow-y: scroll;
        align-content: center;
    }

    #content{
        margin-top: 4%;
        margin-left: 30%;}

    #content2{
        margin-left: 2.5%;}
    
    #new_username, #new_password{
    padding: 5px 10px 5px 10px;
    margin-left: 45%;
    margin-top: 5%;
    font-size: 14px;
    border-radius: 3px;
    border-width: 1px;
    }
}   
    

/* for phone */
@media only screen and (max-width: 768px){ 

    th,td{padding: 10px 18px 10px 18px; }

    #user_info_table{
        display: inline-block;
        max-width: 360px;
        overflow-y: scroll;
    }

    #chUsername, #chPassword, #showLDHistory, #showOfferHistory{
    margin-top: 20px;
    margin-right: 30px;
    padding: 12px 22px 12px 22px;
    border-width: 1px;
    border:none;
    border-radius: 7px;
    background-color: darkblue;
    color: rgb(178, 242, 242);
    }

    #content, #content2{
        display: inline-block;
        max-height: 400px;
        max-width: 300px;
        overflow-y: scroll;
        align-content: center;
        margin-top: 7%;
    }

    #content{margin-left: 8%;}

    #content2{ margin-left: 3%;} 

    #user_info_table, #user_ldhistory_table, #user_offerhistory_table,
    #chUsername, #chPassword, #showLDHistory, #showOfferHistory{
    font-size: 10px;
    padding: 10px 18px 10px 18px;}

    #chUsername{margin-left: 8%;}

    #showLDHistory{
        margin-right: 20px;
        margin-left: 5%;}

    #new_username, #new_password{
    padding: 5px 10px 5px 10px;
    margin-left: 22%;
    margin-top: 5%;
    font-size: 12px;
    border-radius: 3px;
    border-width: 1px;
    }    
}      


#user_info_table, #user_ldhistory_table, #user_offerhistory_table{
    border-collapse: collapse;
    background-color: rgb(52, 139, 232, 0.45); 
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}


#chUsername:hover, #chPassword:hover, #showLDHistory:hover,
#showOfferHistory:hover{
    cursor: pointer;
    opacity: 0.85;
}


#new_password{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#new_username::placeholder, #new_password::placeholder{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-left: 3px;
    opacity: 0.8;}

