body::before{
        content: "";
        background: url("../images/supermarket.jpg"); 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed; 
        opacity: 0.07;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
    }

#offers{
    overflow-y: scroll;
    margin-top: 30px;
    text-align: center;
    padding: 3px 5px 3px;
    border-radius: 3px;
    background-color: rgba(52, 139, 232, 0.35); 
    display: grid;
    border:2px ridge black;}


/* for phone */
@media only screen and (max-width: 660px){ 
#offers{
    font-size: 10px;}}


#offers_table{border-collapse: collapse;}

tr{border-bottom: 2px ridge black;}

td{ align-content: center;
    padding:7px;
}

.more_btn{
font-size: 70%;}

.more_btn:hover,.thumbup .fa.fa-thumbs-up:hover,.thumbdown .fa.fa-thumbs-down:hover,
.fa.fa-paste:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

.delete:hover{
    cursor: pointer;
    color: rgba(255, 10, 10, 0.4);
}

.clickedthumbup{color:green;}
.clickedthumbdown, .delete{color:red;}

.clickedthumbdown:hover, .fa.fa-trash:hover{
    cursor: pointer;
    color: rgba(255, 10, 10, 0.4);
}

.clickedthumbup:hover{
    cursor: pointer;
    color: rgba(6, 113, 49, 0.4);
}

.nostockthumbup, .nostockthumbdown{
    color: rgba(48, 34, 34, 0.4);
}

#prodimg{ 
    width: 85px; 
    height:auto;
    border-radius: 5px;
}


